// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin galaxyTheme {
  @include valo;

  // Insert your own theme rules here
 
  .v-grid-column-header-content
  {
  	text-align: center; 
  }
  
  .v-grid-cell
  {
  	text-align: center; 
  }
  
  .my-img-button 
  {
	cursor: pointer;
  }
  
  .my-grey-image
  {
  	filter: grayscale(1);
  }
  
  .my-cabecera
  {
  	background: unquote("linear-gradient(rgb(0, 0, 0),rgb(51, 51, 51))");
  	border: none;
  }
  
  .texto-blanco
  {
  	color: #ffffff;
  }
  
  .v-button-link
  {
  	color: white !important;
  	background: none !important;
  }
  
   .v-button-link:focus
  {
  	color: #4396ea !important;
  	text-decoration: none;
  }
  
   .v-button-link:hover
  {
  	color: #4396ea !important;
  	text-decoration: none;
  }
  
  .menu-fondo
  {
  	background: unquote("url(Fondo_menu.png)");
  }
  
  .botones-menu-fondo
  {
  	background: url(BotonMenu.png) !important;
  	color: rgb(191, 191, 191);
  	text-decoration: none;
  }
  
  .botones-menu-fondo:hover
  {
  	background: url(BotonMenuSelected.png) !important;
  	color: #ffffff !important;
  }
  
  .cabecera_ventanas
  {
  	background: url(Cabecera_Ventanas_Detalles_Small_2000.png) no-repeat;
  	background-size: 100% 100%;
  }
  
  .cuerpo_ventanas
  {
  	background: url(Ventana.png) no-repeat;
  	background-size: 100% 100%;
  	border: none;
  }
  
  .fondo_cabecera_cuerpo
  {
  	background: rgba(0,0,0,0);
  	border: none;
  }
  
   .recursos_fondo
  {
  	background: url(Recursos_Fondo.png) no-repeat !important;
  	background-size: 100% 100% !important;
  }
  
   .recursos_fondo_horizontal
  {
  	background: url(Recursos_Fondo_Horizontal.png) no-repeat;
  	background-size: 100% 100%;
  }
  
  .v-grid-cell
  {
  	background-color: #2f3946 !important;
  	color: white !important;
  }
  
  .v-grid-row-stripe > td
  {
  	background-color: #070a0e !important;
  	color: white !important;
  }
  
  .v-grid-row > td
  {
 	border: none !important;
  }
  
  .v-grid
  {
  	background: rgba(0,0,0,0) !important;
  	border: none !important;
  }
  
  .v-grid-tablewrapper
  {
  	border: none !important;
  }
  
  .v-grid .v-grid-header th.v-grid-cell 
  {
    background: #070a0e !important;
    color: white !important;
    border: none !important;
    border-bottom: 1px solid #d4d4d4 !important;
   }
  
  .v-tabsheet-tabitemcell .v-caption .v-captiontext
  {
  	color: #ffffff !important;
  }
  
  .v-tabsheet-tabitemcell .v-caption .v-captiontext:focus
  {
  	color: #197de1 !important;
  }
  
   .v-tabsheet-tabitemcell .v-caption .v-captiontext:hover
  {
  	color: #197de1 !important;
  }
  
    .texto-negro
  {
  	color: #000000;
  }
    
  .v-button
  {
  	background: url(botonSinPulsar.png) no-repeat;
  	background-size: 100% 100%;
  	color: #ffffff;
  	text-decoration: none;
  	border:none !important;
  	box-shadow:none !important;
  }
    
  .v-button:focus
  {
  	background: url(botonPulsado.png) no-repeat;
  	background-size: 100% 100%;
  	color: rgb(191, 191, 191);
  	border:none !important;
  	box-shadow:none !important;
  }
  
  .boton-galaxia
  {
  	background: url(botonPulsado.png) no-repeat !important;
  	background-size: 100% 100% !important;
  	color: rgb(191, 191, 191) !important;
  	border:none !important;
  	box-shadow:none !important;
  }
  
  .borde-nave
  {
  	border: solid white;
	border-radius: 5px;
  }
   
  
}
